# Ignorer alt som standard
/*

# Inkluder .gitignore
!.gitignore

# === THEMES ===
!/themes/
/themes/*
# Kun vårt eget tema
!/themes/acrylicon-2024/

# === PLUGINS ===
!/plugins/
/plugins/*
# Legg til egne plugins her:
# !/plugins/mitt-plugin/

# === IGNORER I ALLE MAPPER ===
**/.DS_Store
**/Thumbs.db
**/*.log
**/*.bak
**/*.swp
**/node_modules/
**/.sass-cache/
**/vendor/
